<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>DawFilm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="ion-padding">
        <div id="login">
          <ion-item>
            <ion-label color="{{colorName}}">Name:</ion-label>
            <ion-input (keyup)="putName()" type="text" id="name" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="{{colorPassword}}">Password:</ion-label>
            <ion-input *ngIf="!visualizarTexto" (keyup)="putPassword()" type="password" id="password" [(ngModel)]="password"></ion-input>
            <ion-input *ngIf="visualizarTexto" (keyup)="putPassword()" type="text" id="password" [(ngModel)]="password"></ion-input>
            <ion-icon name="eye" *ngIf="!visualizarTexto" (click)="trueVar()"></ion-icon>
            <ion-icon name="eye-off" *ngIf="visualizarTexto" (click)="falseVar()"></ion-icon>
          </ion-item>
        </div>
        <div id="dejaHueco">
          <p><ion-button disabled="{{disableInput}}" (click)="onClick()" color="dark" expand="block">SAVE</ion-button></p>
        </div>
      </div>

</ion-content>
